@charset "UTF-8";
/*helping selectors*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Roboto"; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*general styles*/
body {
  background-color: #FDFDFD; }

.wrapper {
  margin: 0 80px; }

.container {
  min-height: calc(100vh - 160px);
  width: calc(100vw - 160px); }

/* header  */
.header {
  /* BURGER  */
  /* Welcome text Block  */
  /* Links */ }
  .header .headerTop {
    padding: 43px 0 16px 0;
    position: fixed;
    z-index: 10;
    width: calc(100vw - 160px);
    background-color: #FDFDFD; }
    .header .headerTop-helper {
      display: flex;
      justify-content: space-between; }
      .header .headerTop-helper .header-logo-eng {
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #272822;
        text-decoration: none; }
      .header .headerTop-helper .header-logo-eng:hover {
        color: #B82B21;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer; }
      .header .headerTop-helper .header-lg-switcher {
        width: 60px;
        display: flex;
        justify-content: space-between; }
        .header .headerTop-helper .header-lg-switcher-lg-line {
          width: 0;
          height: 21px;
          border-left: 1px solid #272822; }
        .header .headerTop-helper .header-lg-switcher-lg {
          font-family: Roboto;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #272822;
          text-transform: uppercase;
          cursor: pointer; }
        .header .headerTop-helper .header-lg-switcher-lg:hover {
          color: #B82B21; }
        .header .headerTop-helper .header-lg-switcher-active {
          color: #B82B21; }
  .header .navBurger-burger {
    position: fixed;
    z-index: 10;
    left: 54px;
    top: calc(50% - 12px);
    width: 58px;
    height: 33px; }
    .header .navBurger-burger span.btburger {
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 58px;
      height: 33px;
      justify-content: center;
      z-index: 2;
      /*задаем стиль для наши полосок*/
      /*далее указвываем расположение верхней и нижней полосок*/ }
      .header .navBurger-burger span.btburger-lines, .header .navBurger-burger span.btburger-lines:after, .header .navBurger-burger span.btburger-lines:before {
        position: absolute;
        top: 40%;
        left: 8px;
        width: 48px;
        height: 5px;
        transition: left 0.5s, width 0.5s;
        background-color: #0A1117; }
      .header .navBurger-burger span.btburger-lines::before {
        content: '';
        top: -13px;
        left: -8px; }
      .header .navBurger-burger span.btburger-lines::after {
        content: '';
        top: 13px;
        left: -8px; }
      .header .navBurger-burger span.btburger:hover {
        width: 100px; }
        .header .navBurger-burger span.btburger:hover span.btburger-lines {
          background-color: #B82B21;
          left: 20px;
          width: 60px; }
        .header .navBurger-burger span.btburger:hover span.btburger-lines:after {
          background-color: #B82B21;
          left: -26px;
          width: 52px; }
        .header .navBurger-burger span.btburger:hover span.btburger-lines:before {
          background-color: #B82B21;
          left: -14px;
          width: 48px; }
  .header .hero {
    position: relative;
    display: flex;
    height: calc(100vh - 80px);
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 80px 0 0; }
    .header .hero-navBurger {
      width: 0;
      transition: width 1s; }
      .header .hero-navBurger-links, .header .hero-navBurger-phoneNumber, .header .hero-navBurger-contact {
        display: none;
        opacity: 0;
        transition: opacity 2s; }
    .header .hero-left {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #2d72dc;
      transition: width 1s; }
      .header .hero-left-text-topInfo-box {
        opacity: 0;
        width: 600px;
        padding: 0 180px 0 160px;
        transition: opacity 2s, top 1s; }
        .header .hero-left-text-topInfo-box-year-eng {
          display: block;
          font-size: 18px;
          font-style: italic;
          color: #B82B21;
          font-family: Roboto; }
        .header .hero-left-text-topInfo-box-name-eng {
          display: block;
          font-weight: 900;
          color: #0A1117;
          font-family: Roboto;
          font-size: 32px;
          margin: 0 0 50px; }
        .header .hero-left-text-topInfo-box-info-eng {
          font-family: Roboto;
          font-size: 32px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #D8E1E3; }
      .header .hero-left-text {
        position: absolute;
        display: inline-block;
        width: 378px;
        right: -221px; }
        .header .hero-left-text .welcome-text {
          font-family: Roboto;
          font-size: 80px;
          font-weight: 900;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #0A1117;
          text-transform: uppercase; }
        .header .hero-left-text .welcome-text-red {
          color: #B82B21; }
    .header .hero-right {
      width: 50%;
      height: 100%;
      background-color: #f5f5f5;
      transition: width 1s; }
    .header .hero:hover .hero-left {
      width: 100%; }
      .header .hero:hover .hero-left .hero-left-text-topInfo-box {
        opacity: 1; }
    .header .hero:hover .hero-right {
      width: 0%; }
  .header .links {
    position: fixed;
    z-index: 10;
    right: 26px;
    top: calc(50% - 56px);
    width: 28px;
    height: 112px; }
    .header .links-helper a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      align-items: center; }
    .header .links-helper a:hover > svg > path,
    .header .links-helper a:hover > svg > g > path {
      fill: #B82B21; }
  .header .headerDown {
    padding: 80px 0 0;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: calc(100vw - 160px);
    background-color: #FDFDFD; }

/* main */
.main .photoBox-1 {
  background-image: url(../input/background-photo.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main .skills {
  background: #f5f5f5;
  box-sizing: border-box;
  padding: 80px 80px 75px; }
  .main .skills-title {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    color: #0A1117;
    text-transform: uppercase;
    margin-bottom: 32px; }
  .main .skills-knowledgeBox {
    position: relative;
    display: flex; }
    .main .skills-knowledgeBox-text {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 40px 0 0; }
      .main .skills-knowledgeBox-text-name {
        font-family: Roboto;
        font-size: 32px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0A1117;
        margin-bottom: 32px;
        width: 400px; }
        .main .skills-knowledgeBox-text-name:last-of-type {
          margin-bottom: 0; }
    .main .skills-knowledgeBox-progress {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 12px 0 0; }
      .main .skills-knowledgeBox-progress-line {
        height: 14px;
        background-color: #B82B21;
        margin: 0 0 56px;
        border-radius: 7px; }
      .main .skills-knowledgeBox-progress .prLine-htmlcss {
        width: 14px;
        transition: width 1s; }
      .main .skills-knowledgeBox-progress .prLine-responsiveLayout {
        width: 14px;
        transition: width 1s; }
      .main .skills-knowledgeBox-progress .prLine-bootstrap {
        width: 14px;
        transition: width 1s; }
      .main .skills-knowledgeBox-progress .prLine-jquery {
        width: 14px;
        transition: width 1s; }
      .main .skills-knowledgeBox-progress .prLine-cssPreprocessors {
        width: 14px;
        transition: width 1s; }
      .main .skills-knowledgeBox-progress .prLine-gulp {
        width: 14px;
        transition: width 1s; }
      .main .skills-knowledgeBox-progress .prLine-git {
        width: 14px;
        transition: width 1s; }
  .main .skills:hover .skills-knowledgeBox-progress .prLine-htmlcss {
    width: 100%; }
  .main .skills:hover .skills-knowledgeBox-progress .prLine-responsiveLayout {
    width: 75%; }
  .main .skills:hover .skills-knowledgeBox-progress .prLine-bootstrap {
    width: 60%; }
  .main .skills:hover .skills-knowledgeBox-progress .prLine-jquery {
    width: 45%; }
  .main .skills:hover .skills-knowledgeBox-progress .prLine-cssPreprocessors {
    width: 75%; }
  .main .skills:hover .skills-knowledgeBox-progress .prLine-gulp {
    width: 65%; }
  .main .skills:hover .skills-knowledgeBox-progress .prLine-git {
    width: 80%; }

.main .projects {
  box-sizing: border-box;
  padding: 80px;
  background: #353535; }
  .main .projects-title {
    font-weight: 900;
    color: #2d72dc;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 0 80px; }
  .main .projects-block {
    padding: 0 0 80px;
    width: 600px; }
    .main .projects-block-title {
      color: #D8E1E3;
      font-family: Roboto;
      font-size: 32px;
      font-weight: 900;
      padding: 0 0 32px; }
    .main .projects-block-description {
      color: #D8E1E3;
      font-family: Roboto;
      font-size: 32px;
      padding: 0 0 16px; }
    .main .projects-block-link {
      color: #B82B21;
      font-family: Roboto;
      font-size: 18px;
      cursor: pointer; }

.main .exp {
  box-sizing: border-box;
  padding: 80px;
  background: #f5f5f5;
  min-height: 0; }
  .main .exp-title {
    font-weight: 900;
    color: #0A1117;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 0 80px; }
  .main .exp .experience {
    display: flex;
    flex-direction: row; }
    .main .exp .experience-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 30px 10px 20px; }
      .main .exp .experience-left-circle {
        color: #B82B21;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 5px solid #B82B21;
        margin-bottom: 20px; }
      .main .exp .experience-left-line {
        width: 5px;
        background-color: #B82B21;
        border-radius: 5px;
        margin-bottom: 20px; }
      .main .exp .experience-left-line-1 {
        height: 50px; }
      .main .exp .experience-left-line-2 {
        height: 50px; }
    .main .exp .experience-right-block {
      padding: 0 0 30px;
      width: 600px; }
      .main .exp .experience-right-block-time {
        color: #B82B21;
        font-family: Roboto;
        font-size: 18px;
        padding: 0 0 10px; }
      .main .exp .experience-right-block-title {
        color: #0A1117;
        font-family: Roboto;
        font-size: 32px;
        font-weight: 900;
        padding: 0 0 16px; }
      .main .exp .experience-right-block-description {
        color: #0A1117;
        font-family: Roboto;
        font-size: 32px;
        padding: 0 0 24px; }
      .main .exp .experience-right-block-description-2 {
        padding: 0; }
      .main .exp .experience-right-block-link {
        color: #B82B21;
        font-family: Roboto;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0;
  margin-bottom: 80px; }
  .footer-left-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #B82B21; }
  .footer-left-mail {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0A1117; }
    .footer-left-mail-link {
      color: #272822;
      text-decoration: none; }
    .footer-left-mail:hover a {
      color: #B82B21; }
  .footer-right {
    display: flex;
    align-items: center; }
    .footer-right-phoneNumber {
      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000; }
      .footer-right-phoneNumber-link {
        color: #272822;
        text-decoration: none; }
      .footer-right-phoneNumber:hover a {
        color: #B82B21; }

.active-burger .header .hero-navBurger {
  width: 50%;
  background-color: #f5f5f5;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .active-burger .header .hero-navBurger-links {
    display: block;
    opacity: 1; }
    .active-burger .header .hero-navBurger-links-span {
      display: block; }
      .active-burger .header .hero-navBurger-links-span-a {
        display: inline-block;
        font-family: Roboto;
        font-size: 32px;
        font-weight: 900;
        color: #272822;
        text-decoration: none;
        padding: 0 0 32px; }
      .active-burger .header .hero-navBurger-links-span-a:hover {
        color: #B82B21;
        border-bottom: 2px solid #B82B21;
        padding: 0 0 10px;
        margin-bottom: 20px; }
    .active-burger .header .hero-navBurger-links-span:last-of-type-a {
      padding: 0 0 80px; }
    .active-burger .header .hero-navBurger-links-span:last-of-type-a:hover {
      padding: 0 0 10px;
      margin-bottom: 68px; }
  .active-burger .header .hero-navBurger-phoneNumber {
    display: block;
    min-width: 160px;
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
    padding: 0 0 80px;
    opacity: 1; }
    .active-burger .header .hero-navBurger-phoneNumber-link {
      color: #272822;
      text-decoration: none; }
    .active-burger .header .hero-navBurger-phoneNumber:hover a {
      color: #B82B21; }
  .active-burger .header .hero-navBurger-contact {
    display: block;
    min-width: 180px;
    opacity: 1; }
    .active-burger .header .hero-navBurger-contact-text {
      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: italic;
      line-height: normal;
      letter-spacing: normal;
      color: #B82B21; }
    .active-burger .header .hero-navBurger-contact-mail {
      font-family: Roboto;
      font-size: 32px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0A1117; }
      .active-burger .header .hero-navBurger-contact-mail-link {
        color: #272822;
        text-decoration: none; }
      .active-burger .header .hero-navBurger-contact-mail:hover a {
        color: #B82B21; }

.active-burger .header .hero-left {
  width: 50%; }
  .active-burger .header .hero-left-text {
    display: none; }
  .active-burger .header .hero-left-text-topInfo-box {
    opacity: 1; }

.active-burger .header .hero-right {
  width: 0; }

.active-burger .header .hero:hover .hero-left {
  width: 50%; }
  .active-burger .header .hero:hover .hero-left .hero-left-text-topInfo-box {
    opacity: 1; }

.active-burger .header .hero:hover .hero-right {
  width: 0%; }

.active-burger .main {
  display: none; }

.active-burger .footer {
  display: none; }
