@import "reset";
@import "anim";

/*general styles*/
body {
  background-color: #FDFDFD;
}

.wrapper {
  margin: 0 80px 160px;
}

.container {
  min-height: calc(100vh - 160px);  
  width: calc(100vw - 160px);
}



/* header  */
.header{
    // HEADER TOP 
    .headerTop {
        padding: 43px 0 16px 0;
        position: absolute;
        z-index: 10;
        width: calc(100vw - 160px);
        background-color: #FDFDFD;

        &-helper {
            display: flex;
            justify-content: space-between;

            .header-logo-eng {
                
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #272822;
                text-decoration: none;
            }

            .header-lg-switcher {
                width: 60px;
                display: none;
                justify-content: space-between;
                
                &-lg-line {
                    width: 0;
                    height: 21px;
                    border-left: 1px solid #272822;
                }

                &-lg {
                    
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #272822;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            
                &-lg:hover {
                    color: #B82B21;
                }

                &-active {
                    color: #B82B21;
                }
            }
        }
    }

    /* BURGER  */
    .navBurger {
        &-burger {
            position: absolute;
            z-index: 10;
            left: 54px;;
            top: calc(50% - 12px);
        
            width: 58px;
            height: 33px;

            span.btburger{
                display: inline-block;
                position: relative;
                cursor: pointer;
                width: 58px;
                height: 33px;
            
                justify-content: center;
                z-index: 2;

                /*задаем стиль для наши полосок*/
                &-lines ,
                &-lines:after , 
                &-lines:before {
                    position: absolute; 
                    top: 40%;
                    left: 8px;
                    width: 48px;
                    height: 5px;
                    transition: left 0.5s, width 0.5s;
                    
                    background-color: #0A1117; 
                }

                /*далее указвываем расположение верхней и нижней полосок*/
                &-lines::before {
                    content: '';
                    top: -13px;
                    left: -8px;
                }
                
                &-lines::after {
                    content: '';
                    top: 13px;
                    left: -8px;
                }

                &:hover {
                    width: 100px;
                    span.btburger-lines {
                        background-color: #B82B21;
                        left: 20px;
                        width: 60px;
                    }
                    span.btburger-lines:after {
                        background-color: #B82B21;
                        left: -26px;
                        width: 52px;
                    }
                    span.btburger-lines:before {
                        background-color: #B82B21;
                        left: -14px;
                        width: 48px;
                    }
                }
            }
        }
    }


    /* Welcome text Block  */
    .hero {
    position: relative;
    display: flex;
    height: calc(100vh - 80px);  
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 80px 0 0;

        &-navBurger {
            width: 0;
            transition: width 1s;

            &-links, &-phoneNumber, &-contact {
                display: none;
                opacity: 0;
                transition: opacity 2s;
            }
        }

        &-left {
            position: relative;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #2d72dc;
            transition: width 1s;

            // hidden part 
            &-text-topInfo-box {
                opacity: 0;
                width: 600px;
                // height: 215px;
                padding: 0 180px 0 80px ;
                transition: opacity 2s, top 1s;

                &-year-eng {
                    display: block;
                    font-size: 18px;
                    font-style: italic;
                    color: #FDFDFD;
                    
                }
                
                &-name-eng {
                    display: block;
                    font-weight: 900;
                    color: #0A1117;
                    
                    font-size: 32px;
                    margin: 0 0 50px
                }
                
                &-info-eng {
                    
                    font-size: 32px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #D8E1E3;
                }
            }

            // welcome text 
            &-text {
                position: absolute;
                display: inline-block;
                width: 800px;
                left: 50%;
                transition: width 1s;
                

                .welcome-text {
                    
                    font-size: 80px;
                    font-weight: 900;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #0A1117;
                    text-transform: uppercase;
                    transition: font-size 1s;
                }

                .welcome-text-red {
                    color: #B82B21;
                }
            }
        }

        &-right {
            width: 50%;
            height: 100%;
            background-color: #f5f5f5;
            transition: width 1s;
        }

        &:hover {
            .hero-left {
                width: 100%;
                .hero-left-text-topInfo-box {
                    opacity: 1;
                }
                &-text {
                    width: 600px;

                    .welcome-text {
                        font-size: 60px;
                    }
                }
            }
        
            .hero-right {
                width: 0%;
            }
        }
    }

    /* Links */
    .links {
        position: fixed;
        z-index: 10;
        right: 26px;
        top: calc(50% - 56px);
    
        width: 28px;
        height: 112px;
    
        &-helper a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
            align-items: center;
        }

        &-helper a:hover > svg > path, 
        &-helper a:hover > svg > g > path {
            fill: #B82B21;
        }

    }
    
    // headerDown
    .headerDown {
        // display: none;
        padding: 80px 0 0;
        position: fixed;
        bottom: 0;
        z-index: 10;
        width: calc(100vw - 160px);
        background-color: #FDFDFD;
    }
}



/* main */
.main {
    .photoBox-1 {
        background-image: url(../input/background-photo.JPG);
      
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .skills {
        background: #f5f5f5;
        box-sizing: border-box;
        padding: 80px 80px 75px;
      
        &-title {
            
            font-size: 80px;
            font-weight: 900;
            color: #0A1117;
            text-transform: uppercase;
            margin-bottom: 32px;
        }
      
        &-knowledgeBox {
            position: relative;
            display: flex;
      
            &-text {
                display: inline-block;
                box-sizing: border-box;
                padding: 0 40px 0 0;

                &-name {
                    
                    font-size: 32px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #0A1117;
                    margin-bottom: 32px;
                    width: 400px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
      
            &-progress {
                box-sizing: border-box;
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 12px 0 0;

                &-line {
                    height: 14px;
                    background-color: #B82B21;
                    margin: 0 0 56px;
                    border-radius: 7px;
                }

                .prLine-htmlcss { width: 14px; transition: width 1s;}
                .prLine-responsiveLayout { width: 14px; transition: width 1s;}
                .prLine-bootstrap { width: 14px; transition: width 1s;}
                .prLine-jquery { width: 14px; transition: width 1s;}
                .prLine-cssPreprocessors { width: 14px; transition: width 1s;}
                .prLine-gulp { width: 14px; transition: width 1s;}
                .prLine-git { width: 14px; transition: width 1s;}
            }
        }
      
        &:hover {
            .skills-knowledgeBox {
                &-progress {
                    .prLine-htmlcss { width: 100%;}
                    .prLine-responsiveLayout { width: 75%;}
                    .prLine-bootstrap { width: 60%;}
                    .prLine-jquery { width: 45%;}
                    .prLine-cssPreprocessors { width: 75%;}
                    .prLine-gulp { width: 65%;}
                    .prLine-git { width: 80%;}
                }
            }
        }
    }

    .projects {
        box-sizing: border-box;
        padding: 80px;
        background: #353535;

        &-title {
            font-weight: 900;
            color: #2d72dc;
            
            font-size: 80px;
            font-weight: 900;
            text-transform: uppercase;

            padding: 0 0 80px;
        }

        &-block {
            padding: 0 0 80px;
            width: 600px;
            &-title {
                color: #D8E1E3;
                
                font-size: 32px;
                font-weight: 900;
                padding: 0 0 32px;
            }

            &-description {
                color: #D8E1E3;
                
                font-size: 32px;
                padding: 0 0 16px;
                // width: 600px;
            }

            &-link {
                color: #B82B21;
                
                font-size: 18px;
                // text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .exp {
        box-sizing: border-box;
        padding: 80px;
        background: #f5f5f5;
        min-height: 0;

        &-title {
            font-weight: 900;
            color: #0A1117;
            
            font-size: 80px;
            font-weight: 900;
            text-transform: uppercase;

            padding: 0 0 80px;
        }

        .experience {
            display: flex;
            flex-direction: row;

            &-left {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 30px 10px 20px;
                &-circle {
                    color: #B82B21;
                    
                    font-size: 36px;
                    font-weight: 900;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: 5px solid #B82B21;
                    margin-bottom: 20px;
                }

                &-line {
                    width: 5px;
                    background-color: #B82B21;
                    border-radius: 5px;
                    margin-bottom: 20px;
                }

                &-line-1 {
                    // height: 114px;
                    height: 50px;
                }
                &-line-2 {
                    // height: 114px;
                    height: 50px;
                }
            }

            &-right {
                &-block {
                    padding: 0 0 30px;
                    width: 600px;
                    &-time {
                        color: #B82B21;
                        
                        font-size: 18px;
                        padding: 0 0 10px;
                    }

                    &-title {
                        color: #0A1117;
                        
                        font-size: 32px;
                        font-weight: 900;
                        padding: 0 0 16px;
                    }
        
                    &-description {
                        color: #0A1117;
                        
                        font-size: 32px;
                        padding: 0 0 24px;
                        // width: 600px;
                    }

                    &-description-2 {
                        padding: 0;
                    }
        
                    &-link {
                        color: #B82B21;
                        
                        font-size: 18px;
                        text-decoration: underline; 
                        cursor: pointer;
                    }
                }
            }
        }
    }
}



// footer 
.footer {
    display: flex;
    position: fixed;
    width: calc(100vw - 160px);
    background-color: #FDFDFD;
    z-index: 100;
    bottom: 10px;
    justify-content: space-between;
    // padding: 80px 0 0;
    // margin-bottom: 80px;

    &-left {
        &-text {
            
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: italic;
            line-height: normal;
            letter-spacing: normal;
            color: #B82B21;
        }

        &-mail {
            
            font-size: 32px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #0A1117;
            &-link {
                color: #272822;
                text-decoration: none;
            }
            &:hover {
                a {
                    color: #B82B21;
                }
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        &-phoneNumber {
            
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            &-link {
                color: #272822;
                text-decoration: none;
            }
            &:hover {
                a {
                    color: #B82B21;
                }
            }
        }
    }
}
.btn-top {
    position: fixed;
    right: 100px;
    bottom: 60px;
    z-index: 101;
    width:12px;
    height: 48px;
}
.btn-top * {
    fill: #B82B21;
}




.active-burger {
    .header {
        .navBurger {
            &-burger {
                .btburger {
                    width: 100px;
                    span.btburger-lines {
                        background-color: #B82B21;
                        left: 20px;
                        width: 60px;
                    }
                    span.btburger-lines:after {
                        background-color: #B82B21;
                        left: -26px;
                        width: 52px;
                    }
                    span.btburger-lines:before {
                        background-color: #B82B21;
                        left: -14px;
                        width: 48px;
                    }
                }
            }
        }
        .hero {
            &-navBurger {
                width: 50%;
                background-color: #f5f5f5;
                padding: 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &-links {
                    display: block;
                    opacity: 1;

                    &-span {
                        display: block;

                        &-a {
                            display: inline-block;
                            
                            font-size: 32px;
                            font-weight: 900;
                            color: #272822;
                            text-decoration: none;
                            padding: 0 0 32px;
                        }
    
                        &-a:hover {
                            color: #B82B21;
                            border-bottom: 2px solid #B82B21;
                            padding: 0 0 10px;
                            margin-bottom: 20px;
                        }
                    }

                    &-span:last-of-type {
                        &-a {
                            padding: 0 0 80px;
                        }
    
                       &-a:hover {
                            padding: 0 0 10px;
                            margin-bottom: 68px;
                        }
                    }
                }

                &-phoneNumber {
                    display: block;
                    min-width: 160px;
                    
                    font-size: 18px;
                    color: #000000;
                    padding: 0 0 20px;
                    opacity: 1;
                    &-link {
                        color: #272822;
                        text-decoration: none;
                    }
                    &:hover {
                        a {
                            color: #B82B21;
                        }
                    }
                }
                
                &-contact {
                    display: block;

                    min-width: 180px;
                    opacity: 1;

                    &-text {
                        
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: italic;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #B82B21;
                    }
            
                    &-mail {
                        
                        font-size: 32px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #0A1117;
                        &-link {
                            color: #272822;
                            text-decoration: none;
                        }
                        &:hover {
                            a {
                                color: #B82B21;
                            }
                        }
                    }
                }
            }

            &-left {
                width: 50%;

                &-text {
                    display: none;
                }

                &-text-topInfo-box {
                    opacity: 1;
                }
            }

            &-right {
                width: 0;
            }

            &:hover {
                .hero-left {
                    width: 50%;

                    .hero-left-text-topInfo-box {
                        opacity: 1;
                    }
                }
            
                .hero-right {
                    width: 0%;
                }
            }
        }
    }

    // .main {
    //     display: none;
    // }

    // .footer {
    //     display: none;
    // }
}

/*tablet*/
@media only screen 
	and (max-width: 1439px) {
        /* Welcome text Block  */
    .header .hero {
        &-left {
            &-text {
                left: 30%;
            }
            .welcome-text {
                font-size: 60px;
            }
        }

        &:hover {
            .hero-left {
                &-text {
                    display: none;
                }
            }
        }
    }
}